@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600;800;900&family=Michroma:wght@400;700&display=swap");

/* Start Custom FrameWork */
:root {
    --dark-color: #1a202c;
    --main-color: 21, 157, 113;
    --main-transition: 0.5s ease-in-out;
    --main-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 60%),
        0 2px 4px -1px rgb(0 0 0/ 60%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

body {
    background: #cbcbcb;
    direction: rtl;
    text-align: start;
    overflow-x: hidden;
    background-color: #cbcbcb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.2'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2H21.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06A5 5 0 0 1-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1L.9 19.22a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0L2.26 23h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H-13.1z'/%3E%3Cpath id='path6_fill-copy' d='M284.37 16c.2.65.39 1.32.54 2H281.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06a5 5 0 0 1-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H246.9z'/%3E%3Cpath d='M159.5 21.02A9 9 0 0 0 151 15h-42a9 9 0 0 0-8.5 6.02 6 6 0 0 0 .02 11.96A8.99 8.99 0 0 0 109 45h42a9 9 0 0 0 8.48-12.02 6 6 0 0 0 .02-11.96zM151 17h-42a7 7 0 0 0-6.33 4h54.66a7 7 0 0 0-6.33-4zm-9.34 26a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-7a7 7 0 1 1 0-14h42a7 7 0 1 1 0 14h-9.34zM109 27a9 9 0 0 0-7.48 4H101a4 4 0 1 1 0-8h58a4 4 0 0 1 0 8h-.52a9 9 0 0 0-7.48-4h-42z'/%3E%3Cpath d='M39 115a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-8a6 6 0 1 1-12 0 6 6 0 0 1 12 0zm-3-29v-2h8v-6H40a4 4 0 0 0-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 0 0-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38z'/%3E%3Cpath d='M129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 0 0 4 0zm-6-.63V104h-4v16a10.04 10.04 0 0 0 4 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0 0 11.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 0 0 130 126z'/%3E%3Cpath d='M212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 0 0-.56 9.65l.06.25 1.12 4.48a2 2 0 0 0 1.94 1.52h.01l7.02 24.55a2 2 0 0 0 1.92 1.45h4.98a2 2 0 0 0 1.92-1.45l7.02-24.55a2 2 0 0 0 1.95-1.52L224.5 96l.06-.25a5 5 0 0 0-.56-9.65V86a14 14 0 0 0-28 0zm4 0h6v2h-9a3 3 0 1 0 0 6H223a3 3 0 1 0 0-6H220v-2h2a12 12 0 1 0-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 1 0 0-44 22 22 0 0 0 0 44zm24-22a24 24 0 1 1-48 0 24 24 0 0 1 48 0zm-28.38 17.73l2.04-.87a6 6 0 0 1 4.68 0l2.04.87a2 2 0 0 0 2.5-.82l1.14-1.9a6 6 0 0 1 3.79-2.75l2.15-.5a2 2 0 0 0 1.54-2.12l-.19-2.2a6 6 0 0 1 1.45-4.46l1.45-1.67a2 2 0 0 0 0-2.62l-1.45-1.67a6 6 0 0 1-1.45-4.46l.2-2.2a2 2 0 0 0-1.55-2.13l-2.15-.5a6 6 0 0 1-3.8-2.75l-1.13-1.9a2 2 0 0 0-2.5-.8l-2.04.86a6 6 0 0 1-4.68 0l-2.04-.87a2 2 0 0 0-2.5.82l-1.14 1.9a6 6 0 0 1-3.79 2.75l-2.15.5a2 2 0 0 0-1.54 2.12l.19 2.2a6 6 0 0 1-1.45 4.46l-1.45 1.67a2 2 0 0 0 0 2.62l1.45 1.67a6 6 0 0 1 1.45 4.46l-.2 2.2a2 2 0 0 0 1.55 2.13l2.15.5a6 6 0 0 1 3.8 2.75l1.13 1.9a2 2 0 0 0 2.5.8zm2.82.97a4 4 0 0 1 3.12 0l2.04.87a4 4 0 0 0 4.99-1.62l1.14-1.9a4 4 0 0 1 2.53-1.84l2.15-.5a4 4 0 0 0 3.09-4.24l-.2-2.2a4 4 0 0 1 .97-2.98l1.45-1.67a4 4 0 0 0 0-5.24l-1.45-1.67a4 4 0 0 1-.97-2.97l.2-2.2a4 4 0 0 0-3.09-4.25l-2.15-.5a4 4 0 0 1-2.53-1.84l-1.14-1.9a4 4 0 0 0-5-1.62l-2.03.87a4 4 0 0 1-3.12 0l-2.04-.87a4 4 0 0 0-4.99 1.62l-1.14 1.9a4 4 0 0 1-2.53 1.84l-2.15.5a4 4 0 0 0-3.09 4.24l.2 2.2a4 4 0 0 1-.97 2.98l-1.45 1.67a4 4 0 0 0 0 5.24l1.45 1.67a4 4 0 0 1 .97 2.97l-.2 2.2a4 4 0 0 0 3.09 4.25l2.15.5a4 4 0 0 1 2.53 1.84l1.14 1.9a4 4 0 0 0 5 1.62l2.03-.87zM152 207a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6 2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-11 1a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-6 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3-5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-8 8a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm0 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5-2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-5-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-24 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm16 5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm7-5a7 7 0 1 1-14 0 7 7 0 0 1 14 0zm86-29a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1 246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM275 214a29 29 0 0 0-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 0 0 7.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 0 1-2 2 2 2 0 0 1-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 0 0 6.19 2.4A13.94 13.94 0 0 1 84 185v24a6 6 0 0 1-6 6h-3v9a5 5 0 1 1-10 0v-9h-3a6 6 0 0 1-6-6v-24a14 14 0 0 1 14-14 5 5 0 0 0 5 5zm-17 15v12a1.99 1.99 0 0 0 1.22 1.84 2 2 0 0 0 2.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 0 1-5.35 3.77 3.98 3.98 0 0 1-.65-.3V209a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 0 1-5.2-3 7 7 0 0 1-6.47-4.88A12 12 0 0 0 58 185v6zm9 24v9a3 3 0 1 0 6 0v-9h-6z'/%3E%3Cpath d='M-17 191a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H4zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM15 214a29 29 0 0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@media print {
    body {
        background: #FFF;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(var(--main-color), 0.4);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--main-color), 1);
}

.page-title {
    width: fit-content;
    position: relative;
    font-family: "Cairo", sans-serif;
    margin: 0 auto 20px;
    padding: 10px;
    /* border: 3px solid rgba(var(--main-color), 0.5); */
}

.page-title::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -3px;
    left: -28px;
    background-image: linear-gradient(to top, rgba(var(--main-color), 1), rgba(var(--main-color), 1)), linear-gradient(to top, rgba(var(--main-color), 1), rgba(var(--main-color), 1)), linear-gradient(to top, rgba(var(--main-color), 1), rgba(var(--main-color), 1)), linear-gradient(to top, rgba(var(--main-color), 1), rgba(var(--main-color), 1));
    width: calc(100% + 56px);
    height: 63px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: top left, bottom left, top right, bottom right;
    animation: toRight forwards alternate infinite 2s ease-in-out;
}

.page-title::after {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: calc(100% + 50px);
    height: 58px;
    background: transparent;
    border-radius: 10px;
    border: 3px solid rgba(var(--main-color), 0.5);
}

@keyframes toRight {
    0% {
        transform: rotateY(0deg)
    }

    100% {
        transform: rotateY(360deg)
    }
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    position: relative;
    padding-right: 30px;
    cursor: pointer;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 0px 3px #000000a3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

input[type="radio"] + label::before {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
    background-color: rgba(var(--main-color), 1);
    box-shadow: 3px 3px 10px #00000080;
    animation: popup 0.3s cubic-bezier(0.15, -0.52, 0.76, 1.38) alternate forwards;
}

input[type="checkbox"]:checked + label::after,
input[type="radio"]:checked + label::after {
    content: "\f00c";
    font: var(--fa-font-solid);
    color: white;
    position: absolute;
    top: 50%;
    right: 4px;
    animation: popup 0.3s cubic-bezier(0.15, -0.52, 0.76, 1.38) alternate forwards;
    -webkit-animation: popup 0.3s cubic-bezier(0.15, -0.52, 0.76, 1.38) alternate forwards;
}

input[type="radio"]:checked + label::after {
    right: 5px;
    top: calc(50% + 1px);
}

@keyframes popup {
    0% {
        transform: translateY(-50%) scale(0);
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
    }

    90% {
        transform: translateY(-50%) scale(1.3);
        -webkit-transform: translateY(-50%) scale(1.3);
        -moz-transform: translateY(-50%) scale(1.3);
        -ms-transform: translateY(-50%) scale(1.3);
        -o-transform: translateY(-50%) scale(1.3);
    }

    100% {
        transform: translateY(-50%) scale(0.9);
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
    }
}

.dark-btn,
.dark-btn:hover {
    background: var(--dark-color) !important;
    color: white !important;
    border-radius: 10px;
    box-shadow: var(--main-box-shadow);
}

.search-result {
    position: absolute;
    top: 105%;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: var(--main-box-shadow);
    padding: 0;
    z-index: 2;
}

.search-result li {
    padding: 10px;
    color: #000;
    cursor: pointer;
}

.search-result li:hover {
    background-color: #eee;
}

.custom-form {
    position: relative
}

.custom-form input,
.custom-form textarea {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px 10px 3px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    box-shadow: none;
    outline: none;
}

.custom-form input:focus,
.custom-form textarea:focus {
    border-color: rgba(var(--main-color), 1) !important;
    box-shadow: none;
    outline: none;
}

.custom-form input + label,
.custom-form textarea + label {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 14px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.custom-form.invalid input + label,
.custom-form.invalid textarea + label,
.custom-form input:focus + label,
.custom-form textarea:focus + label {
    font-size: 12px !important;
    top: -10px !important;
    background-color: rgba(var(--bs-light-rgb), 1) !important;
    padding: 0 5px !important;
}

.select-label {
    font-size: 12px !important;
    transform: translate(-10px, 10px);
    background-color: rgba(var(--bs-light-rgb), 1) !important;
    padding: 0 5px;
    position: relative;
    z-index: 2;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

table thead tr th {
    background-color: rgba(var(--main-color), 1) !important;
    color: white;
}

table tbody tr td {
    vertical-align: middle;
}

.store-table .select-label {
    position: absolute !important;
    transform: translate(-10px, -8px) !important;
}

.modal-content {
    border: none;
    box-shadow: 3px 7px 20px 0px var(--dark-color);
}

.modal-header {
    background-color: rgba(var(--main-color), 1);
    color: white;
}

.modal-header .btn-close {
    margin: 0;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.select2 {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    display: flex;
    align-items: end;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
}

.select2-dropdown {
    z-index: 1095;
}

li[disabled] {
    cursor: no-drop !important;
    filter: grayscale(.5);
    -webkit-filter: grayscale(.5);
    color: #777;
    background: var(--bs-danger) !important;
}

.dt-buttons {
    flex-direction: row-reverse;
}

.dt-buttons .btn {
    background-color: rgba(var(--main-color), 1) !important;
    color: white !important;
    border: none;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
    text-align: center;
}

.select2-container .select2-selection--single .select2-selection__clear {
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    margin-top: -4px !important;
    width: 40px;
    align-content: space-around;
    flex-direction: row;
}

/* End Custom FrameWork */
/* Start Fix Bootstrap Err */
.form-control {
    padding: 0.25rem 0.75rem;
}

.form-label {
    margin-bottom: 0;
    color: #0a704f;
}

.form-select {
    padding: 0.25rem 2.25rem 0.25rem 0.75rem;
}

.form-check .form-check-input {
    float: none;
    margin: 0;
    vertical-align: middle;
    margin-top: 0;
}

.form-control:focus,
.form-select:focus {
    border-color: rgba(var(--main-color), 1);
    box-shadow: 0 0 0 0.25rem rgba(var(--main-color), 0.25);
}

/* End Fix Bootstrap Err */
/* Start Navbar Design */
.navbar-brand a,
.navbar-brand span {
    font-family: "Michroma", sans-serif;
    font-weight: bold;
}

.navbar-brand span {
    color: rgba(var(--main-color), 1);
}

nav.navbar {
    background-color: var(--dark-color);
}

nav.navbar .nav-item span {
    color: white;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

nav.navbar .nav-item.active span {
    border-bottom-color: rgba(var(--main-color), 1);
    color: rgba(var(--main-color), 1);
}

nav.navbar .sub-menu {
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    min-height: 0px;
    opacity: 0;
    visibility: hidden;
    background-color: #FFF;
    border: 1px solid #DDD;
    transition: all 0.3s ease-in-out;
}

nav.navbar .sub-menu.open {
    min-height: 300px;
    opacity: 1;
    visibility: visible;
}

nav.navbar .sub-menu ul {
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
    nav.navbar .sub-menu ul {
        flex-wrap: nowrap;
        overflow-y: auto;
    }
}

nav.navbar .sub-menu ul a {
    transition: all 0.3s ease-in-out;
    width: fit-content;
    border-bottom: 2px solid transparent;
}

nav.navbar .sub-menu ul a:hover,
nav.navbar .sub-menu ul li.active a {
    color: var(--dark-color) !important;
    transform: translateX(-10px);
    border-bottom-color: rgba(var(--main-color), 1);
}

/* End Navbar Design */
/* Start Stock Wrapper Design */
.stock-wrapper {
    padding-top: 20px;
}

/* End Stock Wrapper Design */

/* Start Store Page Design */
.store-table {
    border-collapse: separate;
    border-spacing: 10px;
    margin: auto;
    width: 100%;
}

/* End Store Page Design */
/* Start Sections Page Design */
.groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.groups .form-check {
    flex-basis: calc(100% / 3);
}

/* End Sections Page Design */
/* Start Material Page Design */
.material-sections {
    /*height: calc(100% - 39px);*/
    max-height: 310px;
    overflow-y: auto;
    overflow-x: hidden;
    row-gap: 10px;
}

.material-sections > div {
    width: calc(100% / 4);
}

.branch-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    row-gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1199.98px) {
    .material-sections > div {
        width: calc(100% / 3);
    }
}

@media (max-width: 991.98px) {
    .material-sections > div {
        width: calc(100% / 2);
    }
}

@media (max-width: 767.98px) {
    .material-sections {
        max-height: 200px;
    }

    .material-sections > div {
        width: calc(100% / 3);
    }
}

@media (max-width: 455.98px) {
    .material-sections > div {
        width: calc(100% / 2);
    }
}

/* End Material Page Design */

/* Start Component Items Page Design */
.item-price,
.unit-price {
    background-color: rgba(var(--main-color), 1) !important;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.product-qty,
input.unit {
    font-size: 1rem;
}

.table-responsive {
    position: relative;
    max-height: 440px;
    /* min-height: 420px; */
    overflow-y: auto;
}

.table-responsive table {
    min-height: 100%;
    margin-bottom: 0 !important;
}

.table-materials tfoot tr td {
    position: sticky;
    bottom: 0;
}

.table-responsive thead tr th {
    position: sticky;
    top: 0;
    vertical-align: middle;
}


.table-materials tfoot input {
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    width: 100px;
}

.material-buttons button {
    font-size: 0.8rem;
}


.fromComponents li {
    cursor: pointer;
}

.transferModal ul.fromComponents,
.transferModal ul.toComponents {
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: var(--main-box-shadow);
    background: rgba(var(--main-color), 1);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.transferModal ul.fromComponents li,
.transferModal ul.toComponents li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    color: white;
    background: var(--dark-color);
    margin: 5px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.transferModal ul.fromComponents li input,
.transferModal ul.toComponents li input {
    border: 1px solid #6c6c6c;
    background: transparent;
    text-align: center;
    max-width: 70px;
    color: white;
    border-radius: 10px;
}

.transferModal ul.fromComponents li span:nth-child(2),
.transferModal ul.toComponents li span:nth-child(2) {
    flex-grow: 1;
}

.transferModal li span.cost {
    min-width: 40px;
    text-align: center;
}

/* End Component Items Page Design */
/* Start Purchases Page Design */
.table-purchases tr input,
.table-purchases tr .update {
    display: none;
}

.table-purchases tr.edit input,
.table-purchases tr.edit .update {
    display: block;
    margin: auto;
}

.table-purchases tr.edit span {
    display: none;
}

.table-purchases tr.edit .del-edit {
    display: none;
}

.table-purchases tr input {
    max-width: 80px;
    text-align: center;
}

/* End Component Items Page Design */
/* Start Purchases Page Design */
.table-refund tr input,
.table-refund tr .update {
    display: none;
}

.table-refund tr.edit input,
.table-refund tr.edit .update {
    display: block;
    margin: auto;
}

.table-refund tr.edit span {
    display: none;
}

.table-refund tr.edit .del-edit {
    display: none;
}

.table-refund tr input {
    max-width: 80px;
    text-align: center;
}

.expenses_table tr input,
.expenses_name_table tr input {
    max-width: 100%;
}

/* End refund Page Design */